:root {

    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* 告诉浏览器支持两种颜色方案 */
    color-scheme: light dark;

    /* 主题相关的 CSS 变量 - 默认（亮色主题） */
    --card-shadow-color: lightgray;
    --card-text-secondary: lightgray;

    /*font相关*/
    font-family: "Monaspace Radon", "luoxia", serif;
    font-feature-settings: "calt", "liga", "ss01", "ss02", "ss03";
    font-feature-settings: "tnum", "onum", "pnum";

}

/* 基础重置 */
body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

@font-face {
    font-family: "Monaspace Krypton";
    font-style: normal;
    font-weight: 200 800;  /* 定义可变字重范围 */
    /*font-stretch: 100 125; !* 定义可变宽度范围 *!*/
    font-display: swap;
    src: url("../fonts/Monaspace Krypton Var.woff2") format("woff2");
}

@font-face {
    font-family: "Monaspace Radon";
    font-style: normal;
    font-weight: 300;  /* 定义可变字重范围 */
    /*font-stretch: 100 125; !* 定义可变宽度范围 *!*/
    font-display: swap;
    src: url("../fonts/Monaspace Radon Var.woff2") format("woff2");
}

@font-face {
    font-family: 'luoxia'; /* 自定义字体名称 */
    src: url('../fonts/LXGWWenKaiMono-Regular.ttf') format('truetype'); /* 字体路径和格式 */
}

/*@font-face {*/
/*    font-family: 'cheese'; !* 自定义字体名称 *!*/
/*    src: url('../FanMengWenRouNaiLaoTi-2.ttf') format('truetype'); !* 字体路径和格式 *!*/
/*}*/

@font-face {
    font-family: 'shoushu'; /* 自定义字体名称 */
    src: url('../fonts/YangRenDongZhuShiTi-Regular-2.ttf') format('truetype'); /* 字体路径和格式 */

}
