/* 亮色主题 - 显式声明确保覆盖 */
[data-theme="light"] {

    color-scheme: light;
    --card-shadow-color: 5px 5px 6px 1px lightgray;
    /*--card-shadow-color: 3px 6px 6px 1px lightgray;*/
    --card-text-secondary: lightgray;
    /*--card-bgc-color: rgba(245, 245, 245, 0.50);*/
    --card-bgc-color: rgba(234, 234, 234, 0.5);
    /*font相关*/
    font-family: "Monaspace Radon", "luoxia", serif;
    font-feature-settings: "calt", "liga", "ss01", "ss02", "ss03";
    font-feature-settings: "tnum", "onum", "pnum";
    --card-border: 1px solid #e7e7e7;
    --search-box-border: 1px solid rgba(161, 160, 160, 0.48);
}

